.breadcrum {
  display: flex;
  flex-direction: row;
  gap: 2px;
  font-size: 15px;
  margin: 20px 170px;
  text-transform: capitalize;
  color: #5e5e5e;
}
.breadcrum img {
  height: 12px;
  margin-top: 6px;
}

@media (max-width: 1280px) {
  .breadcrum {
    margin: 10px 120px;
  }
}

@media (max-width: 890px) {
.breadcrum{
  margin: 10px 40px;
}
}
@media (max-width: 450px) {
  .breadcrum {
    margin: 0px 10px;
    font-size: 10px;
  }
  .breadcrum img {
    margin-top: 2px;
    height: 10px;
  }
}
